.Landing {
  background-color: var(--secondary);
  min-height: 100vh;
  width: 100vw;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.LandingContent {
  display: flex;
  padding: 50px calc(10px + 6vw);
  height: calc(100vh - 100px);
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.NavDiv {
  position: absolute;
  top: 18px;
  display: flex;
  width: calc(100% - (10px + 6vw) * 2);
  justify-content: space-between;
  align-items: center;
}

.Logo {
  height: calc(7vw);
  min-height: 25px;
  max-height: 40px;
  fill: var(--primary);
}

.NavTextDiv {
  display: flex;
  gap: 3vw;
  font-size: calc(10px + 1vw);
  font-weight: 500;
  cursor: pointer;
}

.NavText {
  color: var(--primary);
}

.NavText:hover {
  text-decoration: underline;
}

.ConFlex {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: calc(10px + 5vw) 0;
}

.TextDiv {
  display: flex;
  flex-direction: column;
}

.Text1 {
  color: var(--primary);
  font-size: clamp(25px, 14vw, 150px);
  font-weight: 700;
  line-height: 100px;
}

.Text2 {
  color: var(--tertiary);
  font-size: calc(8px + 2vw);
  font-weight: 500;
  align-self: flex-end;
  padding-right: 8px;
}

.Img {
  height: calc(50px + 25vw);
  max-height: 400px;
}

@media only screen and (min-width: 1321px) {
  .ConFlex {
    display: flex;
    flex-direction: row;
    gap: calc(10px + 2vw);
  }
}

@media only screen and (max-width: 1320px) {
  .Landing {
    height: auto;
  }

  .Img {
    position: relative;
    right: calc(30px + 14vw);
  }

  .ConFlex {
    gap: 10px;
    padding: calc(12vw) 0;
  }
}

@media only screen and (min-width: 1440px) {
  .Landing {
    height: auto;
  }

  .ConFlex {
    padding: calc(12vw) 0;
  }
}

@media (max-aspect-ratio: 3/4) {
  .Landing {
    min-height: auto;
  }

  .LandingContent {
    height: calc(60vh - 100px);
  }
}
